/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/
/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/
/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/

.projectidea-content {
    width: var(--container-width-lg);
    margin: auto;
    font-size: 17px;
    min-height: calc(100vh - 50px - 50px);
}

.projectidea-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: auto;
}

.projectidea-content h1 {
    margin-top: 3rem;
    text-align: center;
}

.projectidea-content h5 {
    text-align: center;
    margin-bottom: 2rem;
}

.projectidea-content h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.projectidea-content > div {
    color: var(--color-white);
    background: var(--color-primary-variant);
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    border-color: var(--color-primary);
    margin-bottom: 3rem;
}

.projectidea-body ul {
    padding-left: 3rem;
}

.projectidea-references p {
    margin-top: 2rem;
}