img {
    margin: 2rem 0rem;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 3rem;
    border-color: var(--color-primary);
}

.introduction {
    width: var(--container-width-lg);
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 25% 65%;
    gap: 10%;
    min-height: calc(100vh - 150px - 50px);
}

.introduction-content p {
    color: var(--color-white);
    background: var(--color-primary-variant);
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    border-color: var(--color-primary);
    font-size: 17px;
}

.github-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
  }
  
  .github-links > div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 100px; 
    border: 1px solid var(--color-primary);
    border-radius: 1rem; 
    box-sizing: border-box;
  }
  
  /*----- UNUSED FOR NOW, WILL UNCOMMENT WHEN TURNING THEM INTO LINKS TO GITHUBS-----*/

  /* .github-links > div a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .github-links > div a:hover {
    color: #0076ff;
  } */
  