img {
    margin: 2rem 0rem;
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 3rem;
    border-color: var(--color-primary);
}

.introduction {
    width: var(--container-width-lg);
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 25% 65%;
    gap: 10%;
}

.introduction-content p {
    color: var(--color-white);
    background: var(--color-primary-variant);
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    border-color: var(--color-primary);
}
