/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/
/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/
/*----DON'T EDIT THIS UNLESS YOU'RE TRYING TO CHANGE THE LAYOUT/THEME----*/

footer {
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-bg);
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid var(--color-primary);
  }

footer a {
    color: var(--color-primary);
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;  
    margin: 1rem auto 1.5rem;
    list-style: none;
}

.permalinks a {
    transition: var(--transition);
}

.permalinks a:hover {
    color: var(--color-white);
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    border-color: var(--color-primary);
}

.footer__socials a {
    background: var(--color-bg-variant);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    border-color: var(--color-primary);
    transition: var(--transition);
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.footer__copyright {
    color: var(--color-light);
}