@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-bg: #111111;
    --color-bg-variant: #2c2c6c69;
    --color-secondary: #333;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.11);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
    --img: url(../src/assets/bg-texture.png)
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--color-bg);
    color: var(--color-white);
    font-family: 'Prompt', sans-serif;
    line-height: 1.7;
    background-image: radial-gradient(ellipse, rgba(117, 19, 93, 0.274), rgba(22, 22, 22, 0.52)), var(--img);
    background-size: cover, repeat;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    height: 100vh;
}


/*=============== GENERAL STYLES ===============*/

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.3rem;
}

section {
    margin-top: 1rem;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

